@model Tutunamayanlar.Models.EntityFramework.hesap
@{
    ViewBag.Title = "ParaCek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="" method="post">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <div class="signin-form profile">
                    <h3 class="agileinfo_sign">Para Çek</h3>
                    <div class="login-form">
                        @ViewBag.ParaYatirMesaj
                        @using (Html.BeginForm("ParaCek", "Hesap", FormMethod.Post))
                        {
                        <div class="form-group">
                            @Html.Label("Bakiyeniz : ") @ViewBag.ParaCekBakiye @Html.Label("₺")
                            <br />
                            @Html.Label("Tutar")
                            @Html.TextBoxFor(m => m.bakiye, new { @onkeypress = "return (event.charCode>=48 && event.charCode<=57) || event.charCode==44", @maxlength = 16, @class = "form-control" })

                        </div>
                            <button type="submit" class="btn btn-success">Para Çek</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


